<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App - All Posts</title>
    <%- include('./partials/styles.ejs') %>
    <style>
        #mainNav{
            position: static;
            background-color: black;
        }
        @media screen and (max-width:992px) {
            #mainNav{
                background-color: white;
            }
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

            <% if(posts.length!=0) { %>
                <% posts.forEach(function(post){ %>
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/posts/post/<%= post._id %>">
                        <h2 class="post-title"><%= post.heading %></h2>
                        <h3 class="post-subtitle"><%= post.subheading %></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!"><%= post.user.name %></a>
                        on <%= post.createdAt %>
                        <small class="d-block">Likes: <%= post.likes.length %></small>
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <% }) %>
            <% } else { %>
                <h3 class="my-5 post-meta">No Posts!!</h3>
            <% } %>
                <!-- Pager-->
                
            </div>
        </div>
    </div>



    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

